<template>
  <div>

    <v-container>
      <v-row dense>
        <v-col cols="12">
          <v-card color="#d3d3d3" class="mx-auto">

            <v-card-text>
              <v-form>
                <v-container>
                  <v-row>
                    <v-col cols="12" md="3">
                      <v-text-field
                        :counter="100"
                        label="Name"
                        required
                        v-model="name"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="3">
                      <v-text-field
                        :counter="100"
                        label="Email"
                        required
                        v-model="email"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="3">
                      <v-text-field
                        :counter="20"
                        label="Phone"
                        required
                        v-model="phone"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="3">
                      <v-dialog
                        ref="dialog"
                        v-model="modal"
                        :return-value.sync="date"
                        persistent
                        width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="date"
                            label="Birthday"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="date"
                          scrollable
                        >
                          <v-spacer></v-spacer>
                          <v-btn
                            text
                            color="primary"
                            @click="modal = false"
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            text
                            color="primary"
                            @click="$refs.dialog.save(date)"
                          >
                            OK
                          </v-btn>
                        </v-date-picker>
                      </v-dialog>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
            </v-card-text>

            <v-card-actions>
              <v-btn text @click="insertNewUser">
                Create user
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>

      <v-row dense v-if="isLoadingPage">
        <v-col cols="12">
          <center>
            <v-progress-circular
              :size="70"
              :width="7"
              color="purple"
              indeterminate
            ></v-progress-circular>
          </center>
        </v-col>
      </v-row>

      <v-row v-else dense>
        <v-col cols="12"  md="3" v-for="user in users" :key="user.id">

          <v-card class="mx-auto" max-width="344" >
            <v-card-text>
              <div> {{user.name}} </div>
              <p class="text--primary"> {{user.email}} </p>
              <p> {{user.phone}} </p>
              <div class="text--primary"> {{user.birthdate}} </div>
            </v-card-text>

            <v-card-actions>
              <v-btn
                text
                color="deep-purple accent-4"
                @click="openModal(user.id)">
                More details
              </v-btn>
            </v-card-actions>
          </v-card>

        </v-col>
      </v-row>

      <v-row>
        <v-col cols="6">
          <v-btn
            text
            color="deep-dark"
            :disabled="currentPage === 1"
            @click="previewsPage()"
          > Previews </v-btn>
        </v-col>
        <v-col cols="6" class="d-flex flex-row-reverse">
          <v-btn text color="deep-dark" @click="nextPage()"> Next </v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="dialog" width="1000">
      <v-card>
        <v-card-title class="text-h5 grey lighten-2"> Details </v-card-title>

        <v-card-text>

          <h3 class="mt-5 mb-5">
            <b>Basic information</b> <hr>
          </h3>

          <v-row>
            <v-col> <b>name:</b> {{user.name}} </v-col>
            <v-col> <b>email:</b> {{user.email}} </v-col>
          </v-row>
          <v-row>
            <v-col> <b>phone:</b> {{user.phone}} </v-col>
            <v-col> <b>birthdate:</b> {{user.birthdate}} </v-col>
          </v-row>

          <h3 class="mt-5 mb-5">
            <b>Addresses</b> <hr>
          </h3>

          <v-data-table
            :headers="headerDatatableAddresses"
            :items="user.addresses"
            class="elevation-1"
            hide-default-footer
          ></v-data-table>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="showNotification"> {{ notificationMessage }} </v-snackbar>

  </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
  name: 'Home',
  component: {
    mapActions,
  },
  data() {
    return {
      date: null,
      name: '',
      email: '',
      phone: '',
      modal: false,
      currentPage: 1,
      showNotification: false,
      notificationMessage: '',
      dialog: false,
      user: {},
      headerDatatableAddresses: [
        { text: 'postcode', value: 'postcode' },
        { text: 'country', value: 'country' },
        { text: 'state', value: 'state' },
        { text: 'city', value: 'city' },
        { text: 'street name', value: 'street_name' },
        { text: 'street number', value: 'street_number' },
      ],
    };
  },
  computed: {
    ...mapState({
      users: (state) => state.users,
      isLoadingPage: (state) => state.listUserRequestInProccess,
    }),
  },
  methods: {
    ...mapActions(['listUsers', 'insertUser']),
    nextPage() {
      this.currentPage += 1;
      this.listUsers(this.currentPage);
    },
    previewsPage() {
      this.currentPage -= 1;
      this.listUsers(this.currentPage);
    },
    insertNewUser() {
      this.insertUser({
        name: this.name,
        email: this.email,
        phone: this.phone,
        birthdate: this.date,
      }).then(() => {
        this.currentPage = 1;
        this.listUsers(this.currentPage);
        this.name = '';
        this.email = '';
        this.phone = '';
        this.date = null;
      }, (error) => {
        const errors = error?.response?.data?.errors;
        this.showNotification = true;

        Object.values(errors).forEach((errorsMessages) => {
          this.notificationMessage = errorsMessages.toString(', ');
        });
      });
    },
    openModal(userId) {
      this.dialog = true;
      this.user = this.users.find((user) => user.id === userId);
    },
  },
  mounted() {
    this.listUsers(this.currentPage);
  },
};
</script>
